.menu-main__item {
  float: left;
  width: 33.33%;
}

  .menu-main__item:first-child a {
    border-left: none;
  }

  .menu-main a {
    display: block;

    line-height: 46px;

    text-align: center;
    font-size: 12px;
    font-weight: 100;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;

    border-left: 1px solid #b5b5b5;
  }

    .menu-main a span {
      display: inline-block;
      vertical-align: middle;
    }

  .menu-main__icon {
    display: inline-block;
    vertical-align: middle;

    margin-right: 12px;
  }

    .menu-main__icon.__music {
      // width: 17px;
      // height: 17px;
      // background: url(../img/menu-main/menu-main__icon-music.png) no-repeat;
      @include retina-sprite($menu-main-icon-music-group);
    }

    .menu-main__icon.__video {
      // width: 20px;
      // height: 20px;
      // background: url(../img/menu-main/menu-main__icon-video.png) no-repeat;
      @include retina-sprite($menu-main-icon-video-group);
    }

    .menu-main__icon.__games {
      // width: 44px;
      // height: 30px;
      // background: url(../img/menu-main/icon-games.png) no-repeat;
      @include retina-sprite($menu-main-icon-games-group);
    }