.message-group {
  text-align: center;
  line-height: 1.4;
  margin-bottom: 15px;
}

  .message-group:last-child {
    margin-bottom: 0;
  }

  .message-group.__text {
    max-width: 332px;
    margin-right: auto;
    margin-left: auto;

    font-size: 14px;
    color: #000;

    text-align: left;
  }

  .message-group.__user-enter {
    font-size: 18px;
    font-weight: 600;
    color: #000;

    text-align: center;
  }

  .message-group__icon {
    display: inline-block;
    vertical-align: middle;

    margin-right: 12px;
  }

    .message-group__icon.__mobile {
      // width: 95px;
      // height: 83px;
      // background: url(../img/message-group/message-group__icon-mobile.png) no-repeat;
      @include retina-sprite($message-group-icon-mobile-group);
    }

    .message-group__icon.__mobile + span {
      display: inline-block;
      vertical-align: middle;
      
      width: calc(100% - 65px);
    }

.message-group__row {
  margin-top: 15px;
}

  .message-group__row:first-child {
    margin-top: 0;
  }

  .message-group__row.__submit {
    max-width: 268px;
    margin-right: auto;
    margin-left: auto;
  }









@media (max-width: 1000px) and (max-height: $sizeHeightPortrait - 1px) {
  .message-group__row.__submit {
    max-width: 190px;
  }

  .message-group__row.__submit .button-1 {
    height: 44px;
    line-height: 44px;

    font-size: 14px;
  }

  .message-group {
    margin-bottom: 5px;
  }

  .message-group.__text {
    max-width: 220px;
    font-size: 12px;
  }

  .message-group.__user-enter {
    font-size: 14px;
  }
}